@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 86px;
    background: #141466;
    padding: 6px 14px;
    transition: all 0.5s ease;
    
}
.sidebar.active{
    width: 240px
}
.sidebar .logo_content .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .logo{ 
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo box-icon{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 35px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: white;
    left: 55%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 50px;
}
.sidebar ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 5px;
    line-height: 50px;
    border-radius: 12px;
    margin-top: 20px;
}
.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a box-icon {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar ul li a:hover{
    background: #4646FF;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.8s ease;
    top: 50%;
    opacity: 1;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    margin-left: 20px;
    transition: all 0.5s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.logo_name{
    user-select: none;
}
.links_name{
    user-select: none;
    font-size: 18px;
}

.main{
    display: flex;
}

h1{
    padding-bottom: 0.5em;
    font-size: 2.5rem;
    font-weight: 700;
    color: whitesmoke;
}

.task-inputs{
    display: flex;
    min-width: 600px;
}

#new-task-text{
    flex: 1 1 0%;
    padding: 1em;
    border-radius: 1em;
    background: #404040;
    color: whitesmoke;
}

#new-task-submit{
    color: rgb(26, 235, 26);
    border: none;
    background: none;
    outline: none;
    appearance: none;
    padding-left: 1.5em;
    font-size: 15px;
    font-weight: 700;
}

#new-task-submit:hover{
    opacity: 0.7;
}

.rightmain{
    width: 800px;
    margin-left: 5em;
    color: whitesmoke;
}

.buttonDiv{
    padding-bottom: 1em;
}

.taskView{
    display: flex;
    justify-content: space-between;
    background: #202020;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.DisplayButton{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(155, 135, 135, 0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight: 800;
    color:whitesmoke;
    text-align:center;
    transition: all 0.2s;
    background: #ff0000;
}

.DisplayButton:hover{
    border-color: rgb(0, 0, 0);
}

#delete-task-text{
    flex: 1 1 0%;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    background: #404040;
    color: whitesmoke;
}